//====================================================================================================
.footer {
    background-color: $mainDarkColor;
    // .footer__text
    &__text {
    }
    // .footer__container
    &__container {
    }
    // .footer__body
    &__body {
    }
}
.text-footer {
    @include adaptiveValue("padding-top",60 , 20);
    @include adaptiveValue("padding-bottom",60 , 20);
    background: url('@img/footer/bg.jpg') top / cover no-repeat;
    // .text-footer__container
    &__container {
    }
    // .text-footer__title
    &__title {
        text-align: center;
        font-weight: 700;
        @include adaptiveValue("font-size", 30, 24);
        line-height: math.div( 46, 30);
        letter-spacing: 0.05em;
        color: $mainOrange;
        &:not(:last-child) {
            margin-bottom: em(30, 30);
        }
    }
    // .text-footer__text
    &__text {
        color: #fff;
        font-size: rem(18);
        @include adaptiveValue("font-size", 18, 16);
        line-height: math.div(27 , 18);
        letter-spacing: 0.03em;
    }
}
.body-footer {
    @include adaptiveValue("padding-top",100 , 20);
    @include adaptiveValue("padding-bottom",50 , 20);
    display: grid;
    @include adaptiveValue("gap", 30, 20);
    // .body-footer__row
    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
        @include adaptiveValue("row-gap", 40, 20);
        &:not(:last-child) {
            padding: rem(0) rem(0) rem(30) rem(0);
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
    // .body-footer__item
    &__item {
    }
	// .body-footer__bottom
	&__bottom {
        color: rgba(255, 255, 255, 0.8);
        
        font-size: rem(14);
        line-height: math.div(27 , 14);
        @media (min-width:em(1200)){
            display: flex;
            justify-content: space-between;
            gap: rem(20);
        }
	}
	// .body-footer__rules
	&__rules {
        max-width: rem(820);
	}
	// .body-footer__copy
	&__copy {
	}
}
.item-footer {
    // .item-footer__spoller
    &__spoller {
    }
}
.spoller-item-footer {
    // .spoller-item-footer__item
    &__item {
        
    }
    // .spoller-item-footer__title
    &__title {
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        line-height: math.div(22 , 18);
        transition: color 0.3s ease 0s;
        ._spoller-init & {
            display: flex;
            justify-content: space-between;
            gap: rem(20);
            width: 90%;
            
            &::after{
                content:'';
                @extend %ic;
                content: "\e900";
                font-size: rem(10);
                margin: em(5,8) rem(0) rem(0) rem(0);
                transition: transform 0.3s ease 0s;
                
            }
            &._spoller-active {
                &::after{
                    transform: rotate(180deg);
                }
                
            }
        }
        @media (any-hover: hover){
            &:hover{
                color: $mainOrange;
            }
        }
    }
    // .spoller-item-footer__body
    &__body {
        @include adaptiveValue("padding-top", 30,20);
        @include adaptiveValue("padding-bottom", 30,20);
    }
	// .spoller-item-footer__text
	&__text {
        max-width: rem(320);
        line-height: math.div(27 , 18);
        color: rgba(255, 255, 255, 0.8);
        a {
            color:$mainOrange;
            transition: color 0.3s ease 0s;
            @media (any-hover: hover){
                &:hover{
                    color: #947027;
                }
            }
        }
	}
}
.menu-footer {
    &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 30, 20);
    }
    // .menu-footer__list
    &__list {
    }
    // .menu-footer__item
    &__item {
        line-height: 1.5;
        display: flex;
        color: rgba(255, 255, 255, 0.8);
        &:not(:last-child) {
            margin-bottom: em(20, 18);
        }
        &::before{
            font-size: rem(18);
            margin: em(5,15) em(10,15) rem(0) rem(0);
        }
    }
    // .menu-footer__link
    &__link {
        display: inline-flex;
        color: rgba(255, 255, 255, 0.8);
        line-height: math.div(27 , 18);
        transition: color 0.4s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $mainOrange;
            }
        }
        &._icon-footer-phone{
            &::before{
                font-size: rem(20);
                margin:  em(2,15) em(10,15) rem(0) rem(0);
            }
        }
        
        &._icon-footer-email {
            &::before{
                font-size: rem(13);
                margin:  em(10,15) em(10,15) rem(0) rem(0);
            }
        }
    }
}
.social-footer {
    display: flex;
    align-items: center;
    gap: rem(24);
    // .social-footer__item
    &__item {
    }
    // .social-footer__link
    &__link {
        img {
            @media (any-hover: hover){
                &:hover{
                    animation: pulsate-fwd 0.8s ease-in-out infinite both;
                    @keyframes pulsate-fwd {
                        0% {
                            transform: scale(1);
                        }
                        50% {
                            transform: scale(1.1);
                        }
                        100% {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}
//====================================================================================================
.footer-subscribe {
    // .footer-subscribe__label
    &__label {
        line-height: math.div(22 , 18);
        display: block;
        color: rgba(255, 255, 255, 0.8);
        &:not(:last-child) {
            margin-bottom: em(10, 18);
        }
    }
    // .footer-subscribe__line
    &__line {
        display: flex;
        border-radius: rem(3);
        position: relative;
        .form__error {
            position: absolute;
            bottom: rem(-15);
            font-size: rem(15);
            color: rgb(255, 0, 0);
        }
    }
    // .footer-subscribe__input
    &__input {
        background: rgba(255, 255, 255, 0.05);
        border-radius: rem(3);
        height: rem(48);
        padding: rem(0) rem(20);
        border-radius: rem(3) 0 0 rem(3);
        color: #fff;
        width: 100%;
        border: 1px solid rgb(255, 255, 255);
        border-right: none;
    }
    // .footer-subscribe__button
    &__button {
        border-radius: 0 rem(3) rem(3) 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 rem(50);
        background-color: $mainOrange;
        &::before{
            color: #fff;
            transform: rotate(-90deg);
            font-size: rem(12);
        }
    }
}